.body {
    min-width: 100%;
    min-height: 100%;
}

p{
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.main {
    background: black;
    color: blue;
    min-width: 100%;
    min-height: 100%;
}
.card {
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;
    max-width: 100%;
}

.card ul li { 
}

#box-1 {
    background-image: url("https://uc7b668f488aca56ce705ae747a1.previews.dropboxusercontent.com/p/thumb/AA8XJQiaRycN3xomSBlVrB3_WE1cojsViKLKfCZF5WRD4UrUY9iH_xLHJHo4Twy2s5B61Zg_nrzZzlWxbsjNYEVH6Rr_qX0RQU9eqUIevr0kgT-ufrTPngti8Ns4wnN15FNsucWNmVTC76GxTkXS5eAiBeQiMJ7p6rXs90Y6BvdF6WUigpdMPW7AzAD0wUS-BqaHpCLn1dU65_csOssI9AM5IyATBhwraJI9DE4vZAuOtTaDD7uHCxxE2Ya1OpEyDQiR1Rjf3cBFtsoJAKPrhuRw06gnD_XbmXdVZNxphaXJI1M4og46ueInmXTgsp3xHDye29seDKjuOQXVBY4Pn2hPo7Rpcy5j7QkXgYFmzzCOxQ/p.jpeg?fv_content=true&size_mode=5");
    background-size: cover;
    height: 100vw;
    width: 100vw;
    color: black;
}

#box-1 li {
    list-style: none;
    text-align: center;
}

#upper-text {
    font-size: 25px;
    margin-bottom: 10%;
    /* margin: 0 auto; */
}

#middle-text {
    font-size: 40px;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

#lower-text {
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

#shopnow {
    margin: 0 auto;
}

#box-2 {
    background-image: url("https://uce604a9c5c18ceeb293d26772d8.previews.dropboxusercontent.com/p/thumb/AA9cHtJope5y7rTAlI7GeYJTedfEYob7u40me-staxeUZTan3LLCDnsX1tdMaTcXSOOo3kBns7lRH8kiBSRQSP-oO5dnQh5bZG1JXqdMcQWrcMKzl6zruzs22svKdqixHf7-IdsAIi5IhaeXpw_wJMGtC5QiitLAHTvrKt0tv3MBa_R6yrWflOAvjBwJTGoTj2W4NzwTblklzFgncfePEfcI5WXyR6U2Lxh33NbVljPOGINt5VAKel7COUxTG5Yn6IBWA0aTqQooxmT100hkD0CQ_ANPrYJAHdjric7hc71E5-gtPgcbutqnqJETzpPNAd1aUB1LZk-VBHjj-Pq_qBvOP6njHcc6glkmr5T72F-4Ug/p.jpeg?fv_content=true&size_mode=5");
    background-size: cover;
    height: 100vw;
    width: 100vw;
    color: white;
}

#box-2 li {
    list-style: none;
    text-align: center;
}

#up-2 {
    font-size: 50px;
    margin: 40px 40px 40px 40px;
}

#low-2 {
    font-size: 30px;
    margin: 40px 40px 40px 40px;
}

#box-3 {
    background-image: url("https://uc92a38748711af255ec9a26eabe.previews.dropboxusercontent.com/p/thumb/AA9x_3cnj2LgNkInPJMRMLODmXuQ9-0nkH6AiAlg-o3LUVwCKt521t0PRZVDgREP4s3hbLJViblPQ_xJ0h6w_WRm9Zd5XR7aUWvRsJ6rQ5A9NWkiydkiwBD89qYyBQWJsKzBRusIp8Lo_oOzac17ULfq--wwqgjyk-WncqnbhCDd2LuTPOVhVo5ALP3bmRMZ554jw5on9kMY2kfgiT-aAi7iIJ9q7AYugwpjhIPadpMqrb5OXrxGJ7YWDhkL_VF3Vm-8iHvpCA4HpxSASbyYCFqDhNHxz-OZdCB-6fODNpRvoG4dkPAS5cXkGepzb7LhpsCHrnKQXct6lh7G0FDvDcy87uoh8oJEnYB3Wf_naYUl3g/p.jpeg?fv_content=true&size_mode=5");
    background-size: cover;
    height: 100vw;
    width: 100vw;
}

#box-3 li {
    list-style: none;
    margin-right: 50%;
}

#upper-3{
    font-weight: bold;
    font-size: 40px;
    margin: 40px 40px 40px 40px;
}

#lower-3{
    font-size: 30px;
    margin: 40px 40px 40px 40px;
}

#box-4 {
    background-image: url("https://uc155273b21f701eedee94d1270b.previews.dropboxusercontent.com/p/thumb/AA-PPOIyjfxoHluLkToH7jDXElJlShtTTqJOig5PTIHDt_Ws6iwIv3Gd6XGzeu2LOGWhHlyplYV9YsxmkE5E1EOugYM1lQ7nce-YavP4wwjbNg5181sHMqK5LN0y-mRsST1iPs9JBcgri8mg6xrhNRIzabOc5ZNSwuhNVxMOp4Q7TOIbtN9CLECRaAN1KVdk1eC8zGSd4kV9Vhzbq3ADDcJ_ruNxt87OPCKXQJBUOuO6Ql9tktp4DDFSDUKNwc40oqTT9RgsFZGN-4m27Aa8E8sQ9zo_3shBKbhF-_W1pbAVk4W5Qvpkoej5OHwR2cANPehgeW_IzhT2qrOdfHBM1KGn2WdfUBNc90UYjc2_93qy2w/p.jpeg?fv_content=true&size_mode=5");
    background-size: cover;
    height: 100vw;
    width: 100vw;
}

#upper-4{
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 20px;
}

#box-4 li {
    list-style: none;
    text-align: center;
    font-size: 30px;
    margin: 15px 15px 15px 15px;

}

#box-5 {
    background-image: url("https://uc0ec8fe8a887713cfbdc402091f.previews.dropboxusercontent.com/p/thumb/AA8QS3zhOcfs_zCls7YKQRs8SQdXNsOzazhfd2g5B89TpBQosOsFK0sx3EicbWhD2lK5Qak5lIwrkxTn4q5sZBeTL1xfGq9AnbqlCuo_BxCT401Gj_Bs1gFfboPftTOheVKnSYJNzTWyOURRq2nNbpAyyrLQ8BPm87wlE2-vjxX-oxZGjpR26x2viAxU3kKewAfrw2xCUUcp3nY_rvUFpdjmK2uqPHhVT_ZVgteBmP5geLDPWjl9Iwb6pcxeoZpqrFefXhU-zsSKX0TCaKM0JfK2Qv909uZEV5soui1XtOqsgK49GIiu4mhasIJ-okNuu-R8jqOdsxpacO0u-cYOzhL9DzA_PG6IT__Ek27RmVAPKA/p.jpeg?fv_content=true&size_mode=5");
    background-size: cover;
    height: 100vw;
    width: 100vw;
}

#box-6 {
    background-image: url("https://ucde9c5a09015bbb5d7c38ec1066.previews.dropboxusercontent.com/p/thumb/AA9lLC0722IuTtfHjUwUGMBg4M3LWgdlYAuDahVsF_yb5B6ch4Nm-e6qNpv-disFCA70eNYsmHXpoY5PDIh9aJT6jK59vBZO5XjEVZYFR_qLZaCNZqkXGDqt_wZfbsC01uXUPvOiazg7H4JAJkUAzkKXCDZsZ7IFeB0KY3EIU8zflbzZylXIv826ZhS_p4uLE1DD0XL3sbbzD0GnUKfsKZUIuOKRWvmqxcSDwi-5Up8Vz1THd52TpOq3poY-fmm-6-dV4zCLz0LnmExiKl4yiEKXKKXsRdcVChCLG_I077MxaQ5ZsQHeU8nkqNX6yqKKvrNHz2TCrlHX-IeKKYAsepNjww8FA53f_bsaWUymV7cWnw/p.jpeg?fv_content=true&size_mode=5");
    background-size: cover;
    height: 100vw;
    width: 100vw;
}

#box-7 {
    background-image: url("https://uc83e3f4e1f2abd1ec843b28efc2.previews.dropboxusercontent.com/p/thumb/AA-S_1xgWrbvBHc6iDH_gIhntiXci6IOZyKpHVvbnL9Vry0hmw3BHwwS9fGBqQopDZv53T3_Y5FsHRBIh7_p6864EMD2ZXLHxJjF55mH5B9-ruPXpqSTBrcGmQxZVNHj969rfIe_d60KgZ1xAzO58EZgWZhogQ0LXui-aN4G7xh7xIoiaSGI6tQyAv5hSmYCeAceGRg3rcDkZTP5nHa7lh2PwjPb3cINYWmvBUZmfciJBL05ZxJgKhIDNv7PTHPS4wEAajOp8yum1UMCZztExCwPHCPTlq1ev7Rizf5vpWJvEWnwz8If-no3N5LkLVKsJykJriEs7yuP7PNN5QgOxPGEbzgn369rkv08Gfi13BHzRg/p.jpeg?fv_content=true&size_mode=5");
    background-size: cover;
    height: 100vw;
    width: 100vw;
}

#box-8 {
    background-image: url("https://uc258f2a768dbb23d991d06dfa13.previews.dropboxusercontent.com/p/thumb/AA_LE_qQJyM2kX9NdOb12EbnIvd6a4awuXZ2UVRLxFeJ0cCspBIijFhOK-dNwSVlndP2kADAIJGW7qfBH5bg0J3lL46fdVheStL2MtbPIIaENqqU553KgrX__XNvbUGpuSgkd1kcE8h5tzvwBUtkDSLNjeRbR54Y5T-T6PqQblELNYbFOJYWMNluQQm8nCT_ULVPoWi_-fPo-bcFwBX-vpQ_I-gB7Q1w-sg0xei69q3LY0-MBgxWROoERZDt9sCIQpVI-yV-riJBx7ITDAZFvmmkV78i_VFatS5zwTJECyjxCwe70bVfstumuxDBxseFuaK_O2IMuNkHMOIcZqSzOSGna2w61BcNwUp5-P-pZDbX4w/p.jpeg?fv_content=true&size_mode=5");
    background-size: cover;
    height: 100vw;
    width: 100vw;
}

#box-9 {
    background-image: url("https://ucafdf2fc0aa27a0a6ddb6c8730a.previews.dropboxusercontent.com/p/thumb/AA_OfiInnqXD1jaJv8BOiy-EXtDbzLUz7yCy_WNM4igS2_C9b8redj7JR76t17WoBBvVN4d9T9EPiesLCkphJth_NhLCYXCR2XsHXEb9znwqO9of_GtgQ6JknAjGb353eVHZ4scqJfXiGslPIxYErSx5p-7UT-rdBJAiRS4l9_-yY8B6WrSjlN3OgAMggATgZkBzYuhVYwFJER2WOMsSVfmkCNFaZXcDMCtd0G8RySelf6DMiTqA87pZGmiT-DB15K8pEa2VC2Q74anp8kfyqXxGOaQbg1eDSqr1dGFyrqywBLPRr0d8gJ0IT5FvmwW2XpGy7Vt0UZGBnXuM2yKQtqwmhgaMbt5-DBIfDs5b6pMU8w/p.jpeg?size=1024x768&size_mode=3");
    background-size: cover;
    height: 100vw;
    width: 100vw;
}

#inner-picture{
    background-image: url("https://ucf994c2dfdf3e62a6dea6534e42.previews.dropboxusercontent.com/p/thumb/AA9KiUL0jAekjXKzdvTPvpkLbhW188nrCbd8ogmDgy7e_mgKHgULVUzo9HjumDlKw3j9FDIiITBg7mqhbQHkG0T6hhvDooRwpHstNyBDpUnWl4Mn2WATCsGNixWKmsa85lw45Ak91E3ztuD1cn2JZBv5pWcppdc0ElinER2IYhOQNLnMo4CbsUMkmkqJhdfVA33mzJrqU1UkHtQAK6Vq2AX9nr-GqwKpeTvEE3Dz_D6FGBbEgrPLk3dbG0eCHhl68BgbLwVwU_-iFDJxbG4ZeecWnql_iIo3v7CJQxl-t9duth-6lXqUWFJSQMtYuZXkKMSmgt9kou0wneC8ZGsclLhPQM6O7M3Jw2h-wpzfSCLFjg/p.png?fv_content=true&size_mode=5");
    background-size: cover;
    height: 40vw;
    width: 100vw;
}

.product-description{
    list-style: none;
}

.prices {
    list-style: none;
}